
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
  display: inline-block;
  text-align: center;
}

.title {
  font-size: 72px;
  position: relative;
  text-align: center;
}

.logo {
  float: left;
  height: 108px;
  width: 108px;
}

.logoSize {
  height:108px;
  width: 108px;
}

.navBarText {
  font-size: 11px;
}

.grayBackground {
  background-color: #f2f2ef;
}
