
.srcTitle {
  font-weight: bold;
}

.srcPhoto {
  width:120px;
  height:160px;
}

.borderPadding {
  padding:20px;
}

.linePadding {
  padding-top:10px;
  padding-bottom:10px;
}

.inline {
  display: inline-block;
}

.inlinePositon {
  position: relative;
  bottom: -5px;
}

input.textInputBoxSize {
  width: 200px;
}

input.numberInputBoxSize {
  width: 50px;
}


[type="radio"]:not(:checked), [type="radio"]:checked {
  position:relative;
  opacity: 100;
}

[type="radio"]:not(:checked), [type="radio"]:unchecked {
  position:relative;
  opacity: 100;
}